:root {
  --content-primary-a-enabled: #1e2228;
  --content-primary-a-hover: #444c59;
  --content-primary-a-pressed: #1e2228;
  --content-primary-a-disabled: #bcc1ce;

  --content-primary-b-enabled: #ffffff;
  --content-primary-b-hover: #ffffff;
  --content-primary-b-pressed: #ffffff;
  --content-primary-b-disabled: #bcc1ce;

  --content-secondary-enabled: #667387;
  --content-secondary-hover: #7a879d;
  --content-secondary-pressed: #4e5867;
  --content-secondary-disabled: #bcc1ce;

  --content-tertiary-enabled: #9ca3b6;
  --content-tertiary-hover: #abb0c1;
  --content-tertiary-pressed: #7a879d;
  --content-tertiary-disabled: #bcc1ce;

  --content-accent-enabled: #e11b11;
  --content-accent-hover: #ae1603;
  --content-accent-pressed: #961500;
  --content-accent-disabled: #bcc1ce;

  --content-system-positive: #009c37;
  --content-system-negative: #e11b11;
  --content-system-warning: #ff8a0c;
  --content-system-neutral: #4e5867;

  --content-action-enabled: #1284ff;
  --content-action-hover: #006ee4;
  --content-action-pressed: #004186;
  --content-action-disabled: #bcc1ce;

  --background-primary-a-enabled: #ffffff;
  --background-primary-a-hover: #fcfcfd;
  --background-primary-a-pressed: #f9f9fa;
  --background-primary-a-disabled: #f9f9fa;

  --background-primary-b-enabled: #1e2228;
  --background-primary-b-hover: #444c59;
  --background-primary-b-pressed: #000000;
  --background-primary-b-disabled: #f9f9fa;

  --background-secondary-enabled: #f3f5f7;
  --background-secondary-hover: #e6e8ed;
  --background-secondary-pressed: #d7dae1;
  --background-secondary-disabled: #f9f9fa;

  --background-tertiary-enabled: #e6e8ed;
  --background-tertiary-hover: #d7dae1;
  --background-tertiary-pressed: #c8ccd6;
  --background-tertiary-disabled: #f9f9fa;

  --background-accent-enabled: #e11b11;
  --background-accent-hover: #ae1603;
  --background-accent-pressed: #961500;
  --background-accent-disabled: #f9f9fa;

  --border-primary-enabled: #1e2228;
  --border-primary-hover: #444c59;
  --border-primary-pressed: #1e2228;
  --border-primary-disabled: #e6e8ed;

  --border-secondary-enabled: #d7dae1;
  --border-secondary-hover: #c8ccd6;
  --border-secondary-pressed: #bcc1ce;
  --border-secondary-disabled: #e6e8ed;

  --border-accent-enabled: #e11b11;
  --border-accent-hover: #ae1603;
  --border-accent-pressed: #961500;
  --border-accent-disabled: #e6e8ed;

  --shadow-small: -4px 6px 7px 0px rgba(30, 34, 40, 0.17), 0px 0px 2px 0px rgba(30, 34, 40, 0.19);
  --shadow-large: 0px 12px 46px 0px rgba(0, 0, 0, 0.10);

  /* Badge */
  --badge-default-color: #747c8c;
  --badge-default-bg: #e7e9ef;

  --badge-classic-color: #fff;
  --badge-classic-bg: #eb3b41;
  /*  */

  /* Buttons */
  --button-primary-bg: #eb3b41;
  --button-primary-bg-hover: #d91921;
  --button-primary-bg-active: #c02b31;
  --button-primary-color: #ffffff;
  --button-primary-badge-bg: #fcddde;
  --button-primary-badge-color: #eb3b41;
  --button-primary-outline: #d91921;

  --button-secondary-bg: #e7e9ef;
  --button-secondary-bg-hover: #dfe2e7;
  --button-secondary-bg-active: #d0d4db;
  --button-secondary-color: #2e384b;
  --button-secondary-badge-bg: #9ea5b5;
  --button-secondary-badge-color: #fff;
  --button-secondary-outline: #9ea5b5;
  /*  */

  /* Tumbler */
  --tumbler-description-color: rgba(46, 56, 75, 1);
  --tumbler-warn-color: rgba(235, 59, 65, 1);

  --tumbler-button-bg: rgba(208, 212, 219, 1);
  --tumbler-button-bg-hover: #b6bcc8;
  --tumbler-button-bg-active: #9ea5b5;
  --tumbler-button-bg-active-state: #eb3b41;
  --tumbler-button-bg-active-state-hover: #d91921;
  --tumbler-button-bg-active-state-active: #c02b31;
  --tumbler-button-color: rgba(255, 255, 255, 1);

  --tumbler-outline: #9ea5b5;
  --tumbler-outline-active: #d91921;

  --tumbler-circle-bg: #ffffff;
  /*  */

  /* Radio */
  --radio-error-text: #eb3b41;
  --radio-warn-text: #eb3b41;

  --radio-border: 2px solid #d0d4db;
  --radio-border-focus: 3px solid #d0d4db;
  --radio-border-color-hover: #9ea5b5;
  --radio-bg-hover: #f5f6fa;
  --radio-border-color-active: #9ea5b5;
  --radio-bg-active: #f5f6fa;

  --radio-checked-border-color: #eb3b41;
  --radio-checked-border-color-hover: #d91921;
  --radio-checked-bg-after: #eb3b41;
  --radio-checked-border-color-active: #d91921;
  --radio-checked-border-focus: 3px solid #eb3b41;

  --radio-checked-bg-active-after: #d91921;
  --radio-checked-bg-hover-after: #d91921;
  /*  */

  /* Avatar */
  --avatar-bg: #e9ebf1;
  --avatar-border: #fff;

  --avatar-status-bg: #667387;
  --avatar-status-outline: #66738733;

  --avatar-status-enabled-bg: #009c37;
  --avatar-status-enabled-outline: #00842f33;
  /*  */

  /* Checkbox */
  --checkbox-description: #171c25;
  --checkbox-warn-color: #D91921;

  --checkbox-border: #d0d4db;
  --checkbox-border-hover: #9ea5b5;
  --checkbox-border-active: #9ea5b5;

  --checkbox-bg: #ffffff;
  --checkbox-bg-hover: #f5f6fa;
  --checkbox-bg-active: #e9ebf1;

  --checkbox-checked-bg: #eb3b41;
  --checkbox-checked-bg-hover: #d91921;
  --checkbox-checked-bg-active: #c02b31;

  --checkbox-checked-border: #eb3b41;
  --checkbox-checked-border-hover: #d91921;
  --checkbox-checked-border-active: #c02b31;

  --checkbox-checked-outline: #d91921;
  /*  */

  /* Input */
  --input-wrapper-bg: #f5f6fa;
  --input-wrapper-bg-hover: #e9ebf1;
  --input-wrapper-color: #171c25;

  --input-color: #171c25;
  --input-icon: #747c8c;
  --input-loading: #eb3b41;
  --input-placeholder: #747c8c;
  --input-description: #747c8c;

  --input-close-color: #fff;
  --input-close-bg: #9ea5b5;
  --input-close-border-focus: #2E384B;

  --input-error-color: #d91921;
  --input-error-icon: #d91921;
  --input-error-description: #d91921;
  --input-error-placeholder: #d91921;
  --input-error-bg: #fff;
  --input-error-border: #c02b31;

  --input-focused-bg: #fff;
  --input-focused-bg-hover: #fff;
  --input-focused-outline: #fcddde;
  --input-focused-border: #eb3b41;

  --input-disabled-color: #9B9FA9;
  --input-disabled-bg: #fafafb;
  --input-disabled-floating-label: #9EA5B5;
  --input-disabled-icon: #d0d4db;
  --input-disabled-color: #747c8c;
  --input-disabled-description: #9b9fa9;

  --input-floating-label-color: #9ea5b5;
  --input-floating-label-star: #d91921;

  --input-label: #747c8c;
  --input-label-star: #d91921;
  /*  */

  /* Textarea */
  --textarea-wrapper-bg: #f5f6fa;
  --textarea-wrapper-bg-hover: #e9ebf1;
  --textarea-wrapper-color: #171c25;

  --textarea-color: #171c25;
  --textarea-icon: #747c8c;
  --textarea-placeholder: #747c8c;
  --textarea-description: #747c8c;

  --textarea-error-color: #d91921;
  --textarea-error-icon: #d91921;
  --textarea-error-description: #d91921;
  --textarea-error-placeholder: #d91921;
  --textarea-error-bg: #fff;
  --textarea-error-border: #c02b31;

  --textarea-focused-bg: #fff;
  --textarea-focused-bg-hover: #fff;
  --textarea-focused-outline: #fcddde;
  --textarea-focused-border: #eb3b41;

  --textarea-disabled-color: #9B9FA9;
  --textarea-disabled-bg: #fafafb;
  --textarea-disabled-floating-label: #9EA5B5;
  --textarea-disabled-icon: #d0d4db;
  --textarea-disabled-color: #747c8c;
  --textarea-disabled-description: #9b9fa9;

  --textarea-floating-label-color: #9ea5b5;
  --textarea-floating-label-star: #d91921;

  --textarea-label: #747c8c;
  --textarea-label-star: #d91921;
  /*  */

  /* Tabs */
  --tabs-bg: #ffffff;
  --tabs-border: #d7dae1;

  --tabs-secondary-text: #9ca3b6;

  --tabs-button-color: #667387;
  --tabs-button-bg-hover: #fcfcfd;
  --tabs-button-bg-active: #f9f9fa;

  --tabs-active-button-bg: #f3f5f7;
  --tabs-active-button-bg-hover: #e6e8ed;
  --tabs-active-button-bg-active: #d7dae1;
  --tabs-active-button-color: #1e2228;

  --tabs-disabled-button-color: #bcc1ce;
  --tabs-disabled-secondary-text: #9ca3b6;

  --tabs-soft-bg-image: linear-gradient(
    0deg,
    transparent 0px,
    transparent 3px,
    #d7dae1 3px,
    #d7dae1 4px,
    transparent 4px
  );
  --tabs-soft-button-color: #9B9FA9;
  --tabs-soft-button-color-hover: #444c59;
  --tabs-soft-button-color-active: #1e2228;

  --tabs-soft-active-button-color: #2E384B;
  --tabs-soft-active-button-after-bg: #EB3B41;
  --tabs-soft-active-button-after-bg-hover: #ce2b30;

  --tabs-soft-disabled-button-color: #bcc1ce;
  --tabs-soft-disabled-button-active-border: #bcc1ce;
  /*  */

  /* Chips */
  --chips-color: #2e384b;
  --chips-bg: #e8e9ed;
  --chips-bg-hover: #d5d6da;
  --chips-bg-active: #c4c5ca;

  --chips-icon-color: #747c8c;

  --chips-active-bg: #2e384b;
  --chips-active-color: #ffffff;
  --chips-active-bg-hover: #2a3344;
  --chips-active-bg-active: #252d3d;
  --chips-active-icon-color: #ffffff;


  --chips-disabled-color: #bcc1ce;
  --chips-disabled-bg: #e8e9ed;
  --chips-disabled-text-color: #b0b4be;
  --chips-disabled-icon-color: #9b9fa9;
  /*  */

  /* Notification */
  --notification-shadow: 0px 6px 58px 0px #7991ad30;
  --notification-icon: #eb3b41;
  --notification-title: #2e384b;
  --notification-description: #747c8c;
  --notification-close: #9ea5b5;
  /*  */

  /* Alert */
  --alert-bg: #fff;
  --alert-shadow: 0px 6px 58px 0px #7991ad30;
  --alert-left-border: 3px solid #eb3b41;
  --alert-text: #2e384b;
  --alert-description: #747c8c;

  --alert-success-left-border: 3px solid #24b47a;
  --alert-success-icon: #24b47a;

  --alert-warning-left-border: 3px solid #ffa500;
  --alert-warning-icon: #ffa500;

  --alert-error-left-border: 3px solid #eb3b41;
  --alert-error-icon: #eb3b41;
  /*  */

  /* HeaderButton */
  --header-button-bg: #F5F6FA;
  --header-button-color: #2E384B;
  --header-button-border-hover: 1px solid #dfe2e7;
  --header-button-border-focus: 1px solid #eb3b41;
  --header-button-outline-focus: 2px solid #fcddde;

  --header-button-light-bg: #ffffff;

  --header-button-logo-icon: #ED1C24;
  --header-button-logo-text: #242424;

  --header-button-icon: #2E384B;
  /*  */

  /* Search */
  --search-color: #2e384b;
  --search-bg: #f5f6fa;
  --search-placeholder: #747c8c;

  --search-search-icon: #2e384b;

  --search-color-hover: #171c25;
  --search-bg-hover: #e9ebf1;
  --search-color-focus: #2e384b;
  --search-bg-focus: #ffffff;
  --search-border-color-focus: #e63f46;
  --search-outline-focus: 2px solid #fcddde;

  --search-right-button-color: #fff;
  --search-right-button-bg: #9ea5b5;
  --search-right-button-border-focus: 1px solid #2E384B;

  --search-lignt-bg: #ffffff;
  --search-lignt-bg-hover: #ffffff;
  --search-lignt-border-hover: 1px solid #dfe2e7;
  --search-lignt-bg-focus: #ffffff;
  --search-lignt-border-color-focus: #e63f46;
  --search-lignt-outline-focus: 2px solid #fcddde;
  --search-lignt-color: #2e384b;
  --search-lignt-icon: #2e384b;

  --search-result-bg: #ffffff;
  --search-result-shadow: 0px 6px 58px 0px #7991ad30;
  --search-result-item-color: #2e384b;
  --search-result-item-bg-hover: #f5f6fa;
  --search-result-item-highlighted-bg: #f5f6fa;

  --search-loader-border: #2e384b;
  /*  */

  /* HeaderNavFirst */
  --header-nav-first-color: #9B9FA9;
  --header-nav-first-color-hover: #2E384B;

  --header-nav-first-active-bg: #E7E9EF;
  --header-nav-first-active-bg-hover: #d3d6df;
  --header-nav-first-active-color: #2E384B;

  --header-nav-first-disabled-color: #d9dbe1;

  --header-nav-first-animation-outline-from: 1px solid #ffffff00;
  --header-nav-first-animation-outline-to: 1px solid #9ea5b5;
  /*  */

  /* Function Bar */
  --function-bar-bg: rgba(255, 255, 255, 1);

  --function-bar-drag-item-bg: #fff;
  --function-bar-drag-item-shadow-hover: 0px 2px 8px 0px #2E384B14, 0px 0px 1px 0px #2E384B3D, 0px 6px 58px 0px #7991AD30;
  /*  */

  /* Significance */
  --significance-bg-hover: rgba(245, 246, 250, 1);

  --significance-icon-bg: rgba(182, 188, 200, 0.85);
  --significance-icon-outline: 3px solid rgba(155, 159, 169, 0.2);

  --significance-icon-red-bg: rgba(235, 59, 65, 0.85);
  --significance-icon-red-outline: 3px solid rgba(235, 59, 65, 0.2);

  --significance-icon-yellow-bg: rgba(255, 165, 0, 0.85);
  --significance-icon-yellow-outline: 3px solid rgba(255, 165, 0, 0.2);

  --significance-icon-green-bg: rgba(36, 180, 122, 0.85);
  --significance-icon-green-outline: 3px solid rgba(36, 180, 122, 0.2);

  --significance-label: #000000;

  --significance-dropdown-shadow: 0px 2px 8px 0px rgba(46, 56, 75, 0.08),
  0px 0px 1px 0px rgba(46, 56, 75, 0.14),
  0px 6px 58px 0px rgba(121, 145, 173, 0.19);
  /*  */

  /* Notifications Widget */
  --notifications-widget-bg: #fff;
  --notifications-widget-color: #2E384B;

  --notifications-widget-point-bg: #EB3B41;
  --notifications-widget-empty-color: #2E384B;

  --notifications-widget-dropdown-shadow: 0px 2px 8px 0px rgba(46, 56, 75, 0.08), 0px 0px 1px 0px rgba(46, 56, 75, 0.14), 0px 6px 58px 0px rgba(121, 145, 173, 0.19);

  --notifications-widget-border-hover: 1px solid #dfe2e7;

  --notifications-widget-border-focus: 1px solid #eb3b41;
  --notifications-widget-outline-focus: 2px solid #fcddde;

  --notifications-widget-item-bg: #F5F6FA;
  --notifications-widget-item-title-color: #2E384B;
  --notifications-widget-item-text-color: #2E384B;
  --notifications-widget-item-point-bg: #EB3B41;
  --notifications-widget-item-close-icon: #9EA5B5;
  --notifications-widget-item-outline-hover: 2px solid #dfe2e7;
  /*  */

  /* Lang Select */
  --lang-select-text: #2E384B;

  --lang-select-item-bg: #f5f6fa;
  /*  */

  /* Calendar */
  --calendar-border: 1px solid #eee;
  --calendar-bg: #fff;

  --calendar-head-arrow-color: #9EA5B5;
  /*  */

  /* Select */
  --select-dropdown-item-bg: #fff;
  --select-dropdown-person-item-label: #2E384B;
  --select-dropdown-person-item-email: #747C8C;

  --select-delete-icon: #9ea5b5;
  /*  */

  /* Dialog */
  --dialog-overlay-bg: rgba(#0a3d8f, 0.18);

  --dialog-shadow: 0px 2px 8px 0px rgba(46, 56, 75, 0.15);
  --dialog-bg: #fff;

  --dialog-header-bg: #fff;
  --dialog-header-border-bottom: 1px solid #E7E9EF;
  --dialog-header-border-right: 1px solid #E7E9EF;
  --dialog-header-title-color: #2E384B;
  --dialog-header-description-color: #747C8C;
  --dialog-header-button-color: #9EA5B5;
  --dialog-header-stuck-shadow: 0px 2px 8px 0px rgba(46, 56, 75, 0.15);

  --dialog-body-header-border-bottom: 1px solid #E7E9EF;
  --dialog-body-header-border-right: 1px solid #E7E9EF;
  --dialog-body-header-bg: #fff;

  --dialog-footer-bg: #fff;
  --dialog-footer-border-top: 1px solid #e7e9ef;
  --dialog-footer-stuck-shadow: 0px -2px 8px 0px rgba(46, 56, 75, 0.15);

  --dialog-animation-reveal-from: 0 0 0 0 rgba(46, 56, 75, 0);
  --dialog-animation-reveal-to: 0 0 16px 0px rgba(46, 56, 75, 0.15);

  --dialog-animation-reveal-bottom-from: 0 0 0 0 rgba(46, 56, 75, 0);
  --dialog-animation-reveal-bottom-to: 0 0 16px 0px rgba(46, 56, 75, 0.15);

  --dialog-animation-reveal-right-from: 0 0 0 0 rgba(46, 56, 75, 0);
  --dialog-animation-reveal-right-to: 0 0 16px 0px rgba(46, 56, 75, 0.15);

  --dialog-animation-reveal-left-from: 0 0 0 0 rgba(46, 56, 75, 0);
  --dialog-animation-reveal-left-to: 0 0 16px 0px rgba(46, 56, 75, 0.15);
  /*  */

  /* Confirm */
  --confirm-border-bottom: 1px solid #E7E9EF;
  --confirm-header-title: #2E384B;
  --confirm-header-subtitle: #747C8C;
  /*  */
}
